*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.kotlin/
hs_err_pid*.log
replay_pid*.log
/release-package/
loffice-viewer-play-release-*.zip
.externalNativeBuild
.cxx
*.apk
*.aab
*.keystore
!debug.keystore
keystore.properties
keystore/*.keystore
