# Release 서명 설정 (이 파일을 keystore.properties 로 복사 후 값 입력)
# cp keystore.properties.example keystore.properties
#
# keystore.properties 는 Git에 커밋하지 마세요.

storeFile=../keystore/loffice-viewer-release.keystore
storePassword=YOUR_STORE_PASSWORD
keyAlias=lofficeviewer
keyPassword=YOUR_KEY_PASSWORD
